NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:5173
FRONTEND_URL_VERCEL = https://e-commerce-ai-agent-six.vercel.app 
MAX_PRODUCT_ITEM=7
MAX_KNOWLEDGE_BASE_SEARCH_ITEMS=5

DATABASE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
OPENAI_API_KEY =